page-login {
h3{
    text-align: center;
}
.OlvidePassword{
    width: 100%;
    text-align: center;
}
.login{
    width: 100%;
    background-color: green;
}
.icons{
    width: 100%;
    text-align: center;
}
div .img_login{
    align-content: center;
    margin: 0 auto;
}
}
